/* Nothing yet */

body {
  font-family: sans-serif;
  text-align: center;
}

a, a:visited, a:active {
  color: #888888;
  text-decoration: none;

}

a:hover {
  color: #888888;
  text-decoration: underline;
}

#logo {
  background-image: url('../img/logo.png');
  background-size: auto 300px;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  margin-top: 5em;
}


#tagline, #contact {
    
    margin-top: 2em;
    font-size: 2em;
}

#contact {
    
    margin-top: 2em;
    font-size: 1.5em;
}


#imprint {
    
    margin-top: 10em;
    font-size: 0.6em;
}
